$primary: #7289DA;
@import "./../node_modules/bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2C2F33;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

/* Login Page */
.login {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.login .btn-primary {
    color: white;
    width: 100%
}

/* Sign Up Page */
.signup {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.signup .btn-primary {
    color: white;
    width: 100%
}

/* Bounceback Page */
.bounceback {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bounceback .btn-primary {
    color: white;
}

/* All Canvases Page */
.canvasbox {
    align-content: center;
    text-align: center;
    color: black;
}

.headerBar {
    width: 100%;
    height: 60px;
    text-align: center;
    //background: #2C2F33;
    background: #23272A;
}

.headerColumn {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.headerRow:after {
    content: "";
    display: table;
    clear: both;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}


/* Active Canvus Page */
.toolBar {
    padding-top: 20px;
    width: 110px;
    height: 90%;
    background: #2C2F33;
    //background: #7289DA;
}


