$primary: #7289DA;
$modal-content-bg: #404449;
@import "./../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2C2F33;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

/* Login Page */
.login {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.login .btn-primary {
    color: white;
    width: 100%
}

/* Sign Up Page */
.signup {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.signup .btn-primary {
    color: white;
    width: 100%
}

/* Bounceback Page */
.bounceback {
    padding: 50px 40px;
    background: #23272A;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bounceback .btn-primary {
    color: white;
}

/* All Canvases Page */
.canvasbox {
    align-content: center;
    text-align: center;
    color: black;
}

/* Active Canvas Page */
.activecanvas .toolbar {
    width: 10%;
    height: 100vh;
}

.jsonfile {
    padding: 1vw 1vh;
    width: 50%;
    height: 50%;
    background-color: #7289DA;
    color: white
}

/* Brush Color Modal */
.colorpicker {
    width: 100% !important;
}

/* Modal */
.modal-content {
    text-align: center;
}

.modal-dialog .btn-primary {
    color: white;
}